[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "prezto"]
	path = prezto
	url = https://github.com/barapa/prezto
[submodule "vim-colors-solarized"]
	path = vim/plugged/vim-colors-solarized
  url =  https://github.com/altercation/vim-colors-solarized

